.nav-bar {
    padding: 1.5rem 1rem !important;

    .hero-logo-icon {
        img {
            max-width: 70px;
            max-height: 60px;
            margin-right: 20px;
        }
    }
    
    .nav-item {
        min-width: 100px;
        font-weight: 900;
        font-size: 15px;

        @media screen and (max-width: 480px) {
            font-size: 20px !important;
        }

    }

    .custome-active-menu {

        .nav-link{
            color: #ffffff !important;
        }
        .active.nav-link {
            color: #04c7f4 !important;
        }
    }

    // .navbar-collapse.collapse.show {
    //     height: 100vh;
    // }

    .show .search-icon {
        display: none;
    }

    @media screen and (max-width: 480px) {
         .search-icon {
            display: none;
        }
    }
}
