
.noPadding {
  padding: 0 !important;
}

.noMargin {
  margin: 0 !important;
}

.noBorder {
  border: none !important;
}

.App {
  font-family: 'Nunito', sans-serif !important;
  overflow: hidden;
}
